.genre {
    background: $blueberry;
    .genre-img {
        background: url("../../../deploy/img/genre/genre.jpg");
        background-size: cover;
        height: 70vh;
        width: 100%;
    }
    
    h2 {
        color: $whitepurple;
    }
    .first {
        color: $whitepurple;
    }
    .last {
        color: $whitepurple;
    }
}