.hero {
    background: $blueberry;

    .title {
        color: $whitepurple;
    }

    .hero-img {
        background: url("../../../deploy/img/hero/hero.jpg");
        background-size: cover;
        height: 65vh;
        width: 100%;
    }

    .beginning1 {
        color: $whitepurple;
    }
    .beginning2 {
        color: $whitepurple;
    }
}