.info {
    background: $whitepurple;
    .left {
        .info1-img {
            background: url("../../../deploy/img/info/info1.jpg") no-repeat;
            background-size: cover;
            width: 350px;
            height: 400px;
        }
    }
    
    .right {
        .info2-img {
            background: url("../../../deploy/img/info/info2.jpg") no-repeat;
            background-size: cover;
            width: 350px;
            height: 400px;
        }
        padding-bottom: 200px;
    }
}