.join {
    .join-img {
        background: url("../../../deploy/img/join/join.jpg");
        background-size: cover;
        height: 50vh;
        width: 100%;
    }
    h2 {
        color: $white;
    }
    p {
        color: $white;
    }
}
