.news {
    background: $whitepurple;
    padding-bottom: 200px;
    padding-top: 100px;

    h2 {
        color: $dustpurple;
    }
    h3 {
        color: $dustpurple;
    }
    p {
        color: $dustpurple;
    }
}