/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

main {
	display: grid;
	grid-template-areas:
		"header"
		"hero"
		"history"
		"info"
		"genre"
		"recs"
		"perfect"
		"news"
		"join"
		"footer"
}

.header {
	grid-area: header;
}

.hero {
	grid-area: hero;

	img {
		width: 100%;
	}

	ul {
		display: grid;
	}

	text-align: center;

		.title {
			padding-top: 100px;
			padding-bottom: 30px;
		} 
		.beginning1 {
			padding-top: 100px;
			padding-bottom: 30px;
		}

		.beginning2 {
			padding-bottom: 100px;
		}

	@include md {
		text-align: center;

		.title {
			padding-top: 100px;
			padding-bottom: 30px;
		} 
		.beginning1 {
			padding-top: 100px;
			padding-bottom: 30px;
		}

		.beginning2 {
			padding-bottom: 100px;
		}
	}
}

.history {
	grid-area: history;

	img {
		width: 100%;
	}

	ul {
		display: grid;
	}
	.night {
		position: relative;
		text-align: center;
	}
	
	.history1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@include md {
		.night {
			position: relative;
			text-align: center;
		}
		
		.history1 {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

	}
}

.info {
	grid-area: info;

	@include md {
		ul {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(2, 1fr);
		}
			.left {
				grid-column: 2 / 3;
				grid-row: 1 / 2;
				padding-bottom: 50px;
			}
	
			
	
			.right {
				grid-column: 2 / 3;
				grid-row: 2 / 3;
			}

			
		
	}
}

.genre {
	grid-area: genre;

	img {
		width: 100%;
	}

	ul {
		display: grid;
	}

	@include md {

		h2 {
			text-align: center;
			padding-top: 50px;
		}
	
		ul {
			grid-template-columns: 600px;
			grid-gap: 70px;
			justify-content: center;
		}

		.first {
			.kpop {
				width: 300px;
				float: left;
			}
			.indie {
				display: inline;
			}
		}

		.last {
			.khh {
				width: 300px;
				float: left;
			}
			.trot {
				display: inline;
			}
			padding-bottom: 100px;
		}
	}
}

.recs {
	grid-area: recs;

	ul {
		display: grid;
	}

	@include md {
		h2 {
			text-align: center;
			padding-top: 50px;
		}

		p {
			text-align: center;
			padding-top: 10px;
			padding-bottom: 30px;
		}

		ul {
			grid-template-columns: 1000px;
			grid-gap: 30px;
			justify-content: center;
		}

		.recs1 {
			.jyp {
				width: 330px;
				float: left;
			}
			.bluetape {
				width: 330px;
				float: left;
			}

			.heize {
				display: inline;
			}
		}
	}
}

.perfect {
	grid-area: perfect;

	ul {
		display: grid;
	}

	@include md {
		h2 {
			text-align: center;
			padding-top: 50px;
		}

		p {
			text-align: center;
			padding-top: 10px;
			padding-bottom: 30px;
		}

		ul {
			grid-template-columns: 1000px;
			grid-gap: 30px;
			justify-content: center;
		}

		.perfect1 {
			.iu {
				width: 330px;
				float: left;
			}
			.gd {
				width: 330px;
				float: left;
			}

			.akmu {
				display: inline;
			}
			padding-bottom: 100px;
		}
	}
}

.news {
	grid-area: news;

	ul {
		display: grid;
	}

	@include md {

		h2 {
			text-align: center;
		}

		ul {
			grid-template-columns: 1100px;
			grid-gap: 10px;
			justify-content: center;
		}

		.lilac {
			padding-top: 40px;
			img {
				width: 300px;
				float: left;
			}
			.lilac-text {
				text-align: right;
			}
		}

		.hsr {
			padding-top: 20px;
			img {
				width: 300px;
				float: left;
			}
			.hsr-text {
				text-align: right;
			}
		}

		.big {
			padding-top: 20px;
			img {
				width: 300px;
				float: left;
			}
			.big-text {
				text-align: right;
			}
		}
	}
}

.join {
	grid-area: join;

	img {
		width: 100%;
	}

	.join-img {
		position: relative;
		text-align: center;
	}

	.community {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@include md {
		.join-img {
			position: relative;
			text-align: center;
		}

		.community {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.topnav {
			position: absolute;
			top: 70%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.footer {
    grid-area: footer;

    ul {
        display: grid;
		
            grid-template-columns: repeat(9, 1fr);
			grid-template-rows: repeat(3, 1fr);
        

		.thanks {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}

        .find {
            grid-column: 5 / 6;
			grid-row: 2 / 3;
        }

		.socials {
			grid-column: 8 / 9;
			grid-row: 2 / 3;
		}
    }

    @include md {

        ul {
            grid-template-columns: repeat(9, 1fr);
			grid-template-rows: repeat(3, 1fr);
        }

		.thanks {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}

        .find {
            grid-column: 5 / 6;
			grid-row: 2 / 3;
        }

		.socials {
			grid-column: 8 / 9;
			grid-row: 2 / 3;
		}
    }
}
