/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

main {
	display: grid;
	grid-template-areas:
		"header"
		"hero"
		"history"
		"info"
		"genre"
		"recs"
		"news"
		"join"
		"footer"
}

.header {
	grid-area: header;

	@include md {
		text-align: center;

		.title {
			padding-top: 100px;
			padding-bottom: 30px;
		}
	}
}

.hero {
	grid-area: hero;

	img {
		width: 100%;
	}

	ul {
		display: grid;
	}

	@include md {
		text-align: center;

		.beginning1 {
			padding-top: 100px;
			padding-bottom: 30px;
		}

		.beginning2 {
			padding-bottom: 100px;
		}
	}
}

.history {
	grid-area: history;

	img {
		width: 100%;
	}

	ul {
		display: grid;
	}

	@include md {
		.night {
			position: relative;
			width: 100%
		}
		
		.history1 {
			position: absolute;
			top: 200px;
			left: 200px;
			width: 50%
		}

		.history2 {
			position: absolute;
			top: 500px;
			left: 200px;
			width: 50%
		}
	}
}

.info {
	grid-area: info;

	ul {
		display: grid;
	}

	@include md {
		ul{
			grid-template-columns: 700px;
			grid-gap: 70px;
			justify-content: center;
		}

		.left {
			img {
				width: 300px;
				float: left;
			}
			.left-text {
				display: inline;
			}
		}

		.right {
			img {
				width: 300px;
				float: right;
			}
			.right-text {
				display: inline;
			}
		}
	}
}