/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

main {
	display: grid;
	grid-template-areas:
		"header"
		"hero"
		"history"
		"info"
		"genre"
		"recs"
		"news"
		"join"
		"footer"
}

.header {
	grid-area: header;
}

.hero {
	grid-area: hero;

	img {
		width: 100%;
	}

	ul {
		display: grid;
	}

	@include md {
		text-align: center;

		.beginning1 {
			padding-top: 100px;
			padding-bottom: 30px;
		}

		.beginning2 {
			padding-bottom: 100px;
		}
	}
}