.header {
    left: 0;
 	position: fixed;
 	top: 0;
 	width: 100%;
}

> div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #button-container {
        padding: 10px;
        text-align: right;
    }

    #burger-container {
            align-items: center;
 			display: flex;
 			padding: 10px;

 			@include lg {
 				display: none !important;
 			}

 			i {
 				cursor: pointer;
 				font-size: rem-calc(30);
 			}
 	}
}
 	
 	#nav-container {
        background-color: $blueberry;
        display: none;
        width: 100%;
        position: absolute;
        top: 60px;
        .nav-btns {
            display: inline-block;
            text-decoration: none;
            margin: 0 auto;
            color: $whitepurple;
            padding: 20px 0;
            width: 100%;
            &:hover {
                background: $darkpurple;
            }
            &:active {
                background: $blueberry;
            }
        }
        ul li {
            text-align: center;
        }
        @include lg {
            background-color: $blueberry;
            display: block !important;
            position: unset;
            width: auto;
            .nav-btns {
                color: $whitepurple;
            }
            ul {
                display: flex;
                align-items: center;
            }
            ul li {
                margin: 0 20px;
            }
        }
    }